
__pycache__/customValidators\.cpython-37\.pyc

__pycache__/flaskCode\.cpython-37\.pyc

__pycache__/flaskForm\.cpython-37\.pyc

__pycache__/newUser\.cpython-37\.pyc

__pycache__/searchByN\.cpython-37\.pyc

__pycache__/verifyEmailAndPassword\.cpython-37\.pyc
