body {text-align:center; font-size:25px;}

#top {font-size:20px; text-align:left; margin-top:10px; margin-left:10px; }
#big_logo_icon {display:block; margin:auto; margin-top:50px; width:150px; height:150px;}
#small_logo_icon {width:30px; height:30px; margin-left:10px; display:block; margin:auto; margin-left:10px; margin-right:-10px; float:left;}
#small_letter {font-size:14px;}
#big_letter {font-size:30px; margin-top:80px;}
#under {text-decoration:underline;}

.button_big {width:250px; height:50px; border: solid 2px black; font-size:25px; background-color:#FFFFFF; outline:none; margin-top:30px; }
.button_small {width:100px; height:40px; border:none; font-size:20px; color:#FFFFFF; background-color:#000000; outline:none; margin:15px;} 
.text1 {width:350px; height:40px; margin:15px; border:solid 2px black; padding-left:10px; font-size:15px;}
.category {font-size:20px;}
.category li {list-style:none; padding-left:0px; }

a {text-decoration:none;}
a:link {color:#000000;}
a:visited {color:#000000;}