<!DOCTYPE html>
<html>
  <head>
    
    <title>Schoogle - My Results</title>

    <script>

        function alertUser(){
          alert("Selected school(s) has been successfully saved!");
        }
      
      </script>

  </head>

  <body>

    <h1>My Results</h1>
    <form method="post" id = "myForm">
    
      {% for school in global_list_of_schools %}
      
        <!-- Prints school name -->
        {{ school }}

        <!--Make "More Information.." button for the school-->
        <input type="submit" name="{{ school }}" value="More Information.."> 
        <br />

        
          
          {% if school not in userSavedList %}
              <!-- Make "Save School" button for the school-->
              <input type="checkbox" name = "schooloptions" value = "{{ school }}">
              <br />
          {% endif %}
        

  
      {% endfor %}

      <input onclick="alertUser();" type="submit" value ="Save Selected Schools">


  </form>
    
  </body>
</html>