<!DOCTYPE html>
<html>
  <head>
		<script src="jquery-3.3.1.min.js"></script>
			
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap_def.css' }}">
	  <!-- {{ url_for('static', filename='bootstrap_def.css' }} --> 
			
		<title>Schoogle - Search by CCAs</title>
		<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico' }}">
		<!-- {{ url_for('static', filename='favicon.ico' }} --> 
			
  </head>
  <body>
    <div class="container">     
      <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
          <a class="navbar-brand" href="#">Schoogle</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Search by <span class="caret"></span></a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{{ url_for('searchbyC') }}">CCAs</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{{ url_for('searchbyN') }}">Name</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{{ url_for('searchbyM') }}">Map</a>
                </div>
              </li>
            </ul>
          </div>
          
      </nav>
    </div>

    <div class="jumbotron">

      <h1>Search By Criteria</h1>
        
      <form method='post', action=''>
        {{ form.hidden_tag() }} <!--//deep concept that we do not need to understand, just add it in for now--> 
        <p>CCAs</p>
        {{ form.sports.label }}
        {{ form.sports }}
        
        {{ form.arts.label }}
        {{ form.arts }}
        
        {{ form.uniformed.label }}
        {{ form.uniformed }}
        
        {{ form.societies.label }}
        {{ form.societies }}
        
        {{ form.subjects.label }}
        {{ form.subjects }}
        
        {{ form.types.label }}
        {{ form.types }}
        
        {{ form.gender.label }}
        {{ form.gender }}
        
        {{ form.focus.label }}
        {{ form.focus }}
      
        {{ form.submit }}
        
      </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
  </body>
</html>
