<!DOCTYPE html>
<html>
  <!-- UIkit CSS -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/css/uikit.min.css"
  />

  <!-- UIkit JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit-icons.min.js"></script>

  <head>
    <script src="jquery-3.3.1.min.js"></script>
    <title>Schoogle - Search by Criteria</title>
  </head>
  <body>
    <!--Search Top Navigation Menu Dropdown-->
    <button class="uk-button uk-button-default" type="button">Search</button>
    <div uk-dropdown>
      <ul class="uk-nav uk-dropdown-nav">
        <li class="uk-active"><a href="searchbyC.html">by Criteria</a></li>
        <li class="uk-nav-divider"></li>
        <li class="uk-active"><a href="searchbyN.html">by Name</a></li>
        <li class="uk-nav-divider"></li>
        <li class="uk-active"><a href="searchbyM.html">by Map</a></li>
      </ul>
    </div>

    <h1>Search By Criteria</h1>
    <form></form>
  </body>
</html>
