<!DOCTYPE html>
<html>
  <head>
    <script src="jquery-3.3.1.min.js"></script>
    <title>Schoogle</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'UI.css') }}"/><!--//so we can use render_template in flask-->
  </head>
  <body>
    <img id="small_logo_icon" src="{{ url_for('static', filename = 'cap.svg') }}"/><!--//so we can use render_template in flask-->
    <span id="schoogle">Schoogle</span>
	 
    <form method="post" action=""> 
		{{ form.hidden_tag() }} <!--//deep concept that we do not need to understand, just add it in for now-->
		
		<!--//please refer to code if unsure, it has to be this way-->
		<!--//can design it using bootstrap/css, preferably bootstrap-->
		{{ form.email.label }} <!--//from the form object in flaskCode.py, get the email object, from which we get its label-->
		{{ form.email }} <!--//from the form object in flaskCode.py, get the email object--> 
		
		{{ form.password.label }}
		{{ form.password }}
		
		{{ form.confirmPassword.label }}
		{{ form.confirmPassword }}
		
		{{ form.postalCode.label }}
		{{ form.postalCode }}
		
		{{ form.submit }}
		
	</form>
	
  </body>
</html>
