<!DOCTYPE html>
<html>
  <head>
    <script src="jquery-3.3.1.min.js"></script>
    <title>Schoogle</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'UI.css') }}"/><!--//so we can use render_template in flask-->
  </head>
  <body>
    <img id="small_logo_icon" src="{{ url_for('static', filename = 'cap.svg') }}"/><!--//so we can use render_template in flask-->
    <span id="schoogle">Schoogle</span>
	
    <form>
		<p>
		Email:<br />
		<input type="text" name="email" class="text1" /><br /><!--//check if email is valid-->
		
		Password:<br />
		<input type="text" name="password" class="text1" /><br />
		<!--check if password has at least 8
		characters, 1 capital letter and 1 number-->

		Re-enter Password:<br />
		<input type="text" name="passwordcheck"class="text1"  /><br />
		<!--check if password reentered
		is the same-->

		Postal Code: (optional)<br />
		<input type="text" name="postalcode" class="text1" /><br />
		<!--if not filled in, auto fill as
		"NIL"-->
		
		</p>	
		
		<input type="submit" value="Sign Up!" class="button_small"/>
	</form>
  </body>
</html>
