<!DOCTYPE html>
<html>
  <!-- UIkit CSS -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/css/uikit.min.css"
  />

  <!-- UIkit JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit-icons.min.js"></script>

  <script>

    function alertUser(){
      alert("Selected school(s) has been successfully unsaved!");
    }
  
  </script>


  <head>
    
    <title>Schoogle - My Saved Schools</title>
  </head>

  <body>
   

    <h1>My Saved Schools</h1>
    <form method="post">
      
      {% for school in schoolList%}
        
        <!-- Prints school name-->
        {{ school }}

        <!--Make "More Information.." button for the school-->
        <input type="submit" name="{{ school }}" value="More Information.."> 
        <br />

        <!-- Make "Unsave School" button for the school-->
        <input type="checkbox" name = "unsaveList" value = "{{ school }}">
        <br />


      {% endfor %}

      <input onclick="alertUser();" type="submit" value ="Unsave Selected Schools">
    </form>
    
  </body>
</html>
